---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!DOCTYPE html>
<html lang="en">
   <head>
<link type="text/css" rel="stylesheet" href="https://collnet2025.mailus.workers.dev/about-menu-styles.css" as="style">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
      <meta name="application-name" content="ZohoBackstage">
      <meta name="description" content="">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-title" content="COLLNET Meeting 2025">
      <meta name="theme-color" content="#5C6BC0">
      <meta name="msapplication-navbutton-color" content="#5C6BC0">
      <meta name="apple-mobile-web-app-status-bar-style" content="default">
      <link rel="canonical" href="https://sgate.zohobackstage.in/COLLNET2025">
      <link rel="alternate" hreflang="en" href="https://sgate.zohobackstage.in/COLLNET2025#/?lang=en">
      <meta name="keywords" content=",COLLNET2025,COLLNET&amp;#x20;Meeting&amp;#x20;2025,&amp;#x20;">
      <meta name="twitter:title" content="COLLNET Meeting 2025">
      <meta name="twitter:image" content="https://sgate.zohobackstage.in/thumbnail/COLLNET2025?_=1744037145703">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:description" content="">
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://sgate.zohobackstage.in/COLLNET2025">
      <meta property="og:title" content="COLLNET Meeting 2025">
      <meta property="og:description" content="">
      <meta name="image" property="og:image" content="https://sgate.zohobackstage.in/thumbnail/COLLNET2025?_=1744037145703">
      <meta property="og:image:width" content="1440">
      <meta property="og:image:height" content="900">
      <meta property="og:image:type" content="image/png">
      <link rel="shortcut icon" type="image/x-icon" href="https://static.zohocdn.com/backstage/v1.0/images/fav-479b4ad7723adad699816a5ea94b947b.png">
      <link rel="manifest" href="https://sgate.zohobackstage.in/COLLNET2025/manifest.json?_=1744037145703">
      <link rel="icon" href="https://static.zohocdn.com/backstage/v1.0/images/fav-479b4ad7723adad699816a5ea94b947b.png">
      <link rel="apple-touch-icon" href="https://static.zohocdn.com/backstage/v1.0/images/fav-479b4ad7723adad699816a5ea94b947b.png">
      <link rel="apple-touch-startup-image" href="https://static.zohocdn.com/backstage/v1.0/images/fav-479b4ad7723adad699816a5ea94b947b.png">
      <title>
         COLLNET Meeting 2025 :: About COLLNET 2025
      </title>
      <link rel="alternate" type="application/json+oembed" href="https://sgate.zohobackstage.in/public/oembed?url=https%3A%2F%2Fsgate.zohobackstage.in%2FCOLLNET2025">
      <link rel="preconnect" href="https://static.zohocdn.com/backstage/v1.0" crossorigin="">
      <link rel="preconnect" href="https://static.zohocdn.com/webfonts" crossorigin="">
      <link rel="preload" href="https://static.zohocdn.com/backstage/v1.0/javascript/security.min-3a8c70650b6ac1b2ed24ceedff5acc55.js" as="script">
      <link rel="preload" href="https://static.zohocdn.com/backstage/v1.0/community/assets/vendor-c7d439f1306986cae40a88b1d01ef9f7.js" as="script">
      <link rel="preload" href="https://static.zohocdn.com/backstage/v1.0/community/assets/community-248ced29812061936960e8d22546cfce.js" as="script">
      <link rel="stylesheet" href="https://static.zohocdn.com/backstage/v1.0/styles/bs-theme-70aaec8b8d2c7cb787a2137b7ceb2d66.css" as="style">
      <link rel="stylesheet" href="https://static.zohocdn.com/backstage/v1.0/community/assets/vendor-5056f81fb65cc15c706f9c85d6d2b35a.css" as="style">
      <link rel="stylesheet" href="https://static.zohocdn.com/backstage/v1.0/community/assets/chunk.108.3cf3ba1ed995a91b3ae1.css">
      <link rel="stylesheet" href="https://static.zohocdn.com/backstage/v1.0/community/assets/community-925ef3f29461fe07331ef0fd3b28dd24.css" as="style">
      <link type="text/css" rel="stylesheet" href="https://static.zohocdn.com/backstage/v1.0/styles/guls-style-aa388f7f5ad2c7987129c638fbd7bc84.css" as="style">
      <style class="themeVariables">.bs-website:not(.theme-view){--font-name:roboto;--regular-font:robotoregular;--medium-font:robotomedium;--light-font:robotolight;--bold-font:robotobold;--min-size :11;--h1-font:56px;--h2-font:40px;--h3-font:36px;--h4-font:24px;--h5-font:18px;--h6-font:16px;--default-font:16px;--small-font:15px;--tiny-font:13px;--mini-font:11px;--section-title-case:none;--title-text-color:#ffffff;--body-text-color:#000000;--secondary-text-color:#777777;--link-color:#3577BC;--border-color:#dadbdd;--dark-border-color:#000000;--light-border-color:#eeeeee;--menu-bg:#ffffff;--menu-item-color:#000000;--menu-item-active-color:#5C6BC0;--grey-bg:#f1f1f1;--light-grey-bg:#f5f5f5;--lightest-grey-bg:#f9f9f9;--primary-button-border-color:transparent;--primary-button-text-color:#ffffff;--primary-button-bg-color:#5C6BC0;--body-bg:#ffffff;--preview-bg-color:#5C6BC0;--banner-image: url(https://static.zohocdn.com/backstage/v1.0/images/themes/barfi-bg-75eba28eab76aa2f2767518cc57e8daa.png);--banner-bg-color:#22272A;--banner-mobile-bg: url(https://static.zohocdn.com/backstage/v1.0/images/themes/barfi-mobile-bg-54b32880f7aa27363b7a85fdef6928f4.png);--banner-overlay-opacity:0.7;--banner-overlay-bg-color:#161A1C;--banner-title-text-color:#ffffff;--banner-text-color:#ffffff;--banner-secondary-text-color:#ffffff;--banner-link-color:#ffffff;--banner-border-color:#ffffff;--banner-dark-border-color:#ffffff;--banner-light-border-color:#ffffff;--inner-banner-image: url(https://static.zohocdn.com/backstage/v1.0/images/themes/barfi-inner-banner-dd56ae7ad6456192eb252ececb161dfa.png);--inner-banner-bg-color:#22272A;--inner-banner-mobile-bg: url(https://static.zohocdn.com/backstage/v1.0/images/themes/barfi-mobile-inner-bg-85feb38c0ec00126bacceb450b0a5845.png);--inner-banner-overlay-opacity:0.7; --inner-banner-overlay-bg-color:#161A1C;--inner-banner-title-text-color:#ffffff;--inner-banner-text-color:#ffffff;--inner-banner-secondary-text-color:#ffffff;--inner-banner-link-color:#ffffff;--inner-banner-border-color:#ffffff;--inner-banner-dark-border-color:#ffffff;--inner-banner-light-border-color:#ffffff;--section-bg-color:#ffffff;--section-title-text-color:#5C6BC0;--section-text-color:#000000;--section-secondary-text-color:#767676;--section-link-color:#3577BC;--section-border-color:#dadbdd;--section-dark-border-color:#000000;--secion-light-border-color:#eeeeee;--alternate-section-bg-color:#F7F8F9;--alternate-section-title-text-color:#5C6BC0;--alternate-section-text-color:#000000;--alternate-section-secondary-text-color:#767676;--alternate-section-link-color:#3577BC;--alternate-section-border-color:#dadbdd;--alternate-dark-border-color:#000000;--alternate-light-border-color:#eeeeee;}</style>
      <style class="themeVariations">.bs-variation:not(.theme-view){}</style>
      <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyBiyf0K2SL3k9iXh7cKB4mB7eo3g4jd39k"></script><script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyBiyf0K2SL3k9iXh7cKB4mB7eo3g4jd39k"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/60/7b/common.js" nonce="OLi8nKyZbXqQtMf2gcJNLw=="></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/60/7b/util.js" nonce="OLi8nKyZbXqQtMf2gcJNLw=="></script>
   </head>
   <body class="bs-website bs-variation ember-application" style="--body-height: 449px; --bs-main-menu-height: 72px; --bs-inner-banner-height: 0px;">
      <h1 style="display:none;">COLLNET Meeting 2025</h1>
      <script nonce="OLi8nKyZbXqQtMf2gcJNLw==" src="https://static.zohocdn.com/backstage/v1.0/community/assets/vendor-c7d439f1306986cae40a88b1d01ef9f7.js"></script><script src="https://static.zohocdn.com/backstage/v1.0/community/assets/chunk.108.3cf3ba1ed995a91b3ae1.js"></script><script src="https://static.zohocdn.com/backstage/v1.0/community/assets/chunk.524.abee30cc9598a8c0f713.js"></script>
	  
	  
	  
	  <script nonce="OLi8nKyZbXqQtMf2gcJNLw==" type="text/javascript" src="https://js.zohocdn.com/ichat/js/Mar_13_2025_10182154_wmsliteapi.js"></script><script nonce="OLi8nKyZbXqQtMf2gcJNLw==" type="text/javascript" src="https://static.zohocdn.com/backstage/v1.0/javascript/security.min-3a8c70650b6ac1b2ed24ceedff5acc55.js"></script><script nonce="OLi8nKyZbXqQtMf2gcJNLw==" src="https://static.zohocdn.com/backstage/v1.0/community/assets/community-248ced29812061936960e8d22546cfce.js"></script><span></span>
      <div>
         <!---->	
         <div dir="ltr" id="ember4" class="cm_root mappv2 ember-view">
            <span></span>
            <!---->	
            <style>
               @font-face {
               font-family: 'robotoregular';
               font-style: normal;
               src: url('https://static.zohocdn.com/webfonts/robotoregular/font.eot');
               src: url('https://static.zohocdn.com/webfonts/robotoregular/font.eot?#iefix') format("eot"),
               url('https://static.zohocdn.com/webfonts/robotoregular/font.woff2') format('woff2'),
               url('https://static.zohocdn.com/webfonts/robotoregular/font.woff') format('woff'),
               url('https://static.zohocdn.com/webfonts/robotoregular/font.ttf') format('truetype')}
               @font-face {
               font-family: 'robotomedium';
               font-style: normal;
               src: url('https://static.zohocdn.com/webfonts/robotomedium/font.eot');
               src: url('https://static.zohocdn.com/webfonts/robotomedium/font.eot?#iefix') format("eot"),
               url('https://static.zohocdn.com/webfonts/robotomedium/font.woff2') format('woff2'),
               url('https://static.zohocdn.com/webfonts/robotomedium/font.woff') format('woff'),
               url('https://static.zohocdn.com/webfonts/robotomedium/font.ttf') format('truetype')}
               @font-face {
               font-family: 'robotobold';
               font-style: normal;
               src: url('https://static.zohocdn.com/webfonts/robotobold/font.eot');
               src: url('https://static.zohocdn.com/webfonts/robotobold/font.eot?#iefix') format("eot"),
               url('https://static.zohocdn.com/webfonts/robotobold/font.woff2') format('woff2'),
               url('https://static.zohocdn.com/webfonts/robotobold/font.woff') format('woff'),
               url('https://static.zohocdn.com/webfonts/robotobold/font.ttf') format('truetype')}
               @font-face {
               font-family: 'robotolight';
               font-style: normal;
               src: url('https://static.zohocdn.com/webfonts/robotolight/font.eot');
               src: url('https://static.zohocdn.com/webfonts/robotolight/font.eot?#iefix') format("eot"),
               url('https://static.zohocdn.com/webfonts/robotolight/font.woff2') format('woff2'),
               url('https://static.zohocdn.com/webfonts/robotolight/font.woff') format('woff'),
               url('https://static.zohocdn.com/webfonts/robotolight/font.ttf') format('truetype')}.bs-website:not(.them-view){--font-name:roboto;--regular-font:robotoregular;--medium-font:robotomedium;--light-font:robotolight;--bold-font:robotobold;--min-size :11;}
            </style>
            <header tabindex="-1" style="--bs-nav-active-bg:#1f3594; " id="ember5" class="bs-main-menu fixed ember-view">
               <div class="overlay"></div>
               <div class="bs-container">
                  <div class="main-menu nav-active-st1 nav-link-st1">
                     <div class="left-menu">
                        <div id="ember6" class="ember-view">
                           <div id="ember7" class="item logo logo-st1  ember-view">
                              <div class="logo  bs-image " data-ember-action="" data-ember-action-8="8">
                                 <img src="../logo.gif" alt="COLLNET Meeting 2025-logo" loading="lazy">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="right-menu top-nav-bar" style="overflow: visible;">
                         <Header />
                     </div>
                     <div class="other-links">
                        <bs-widget button-group-id="37939000000005751" style="" id="ember28" class="element-settings   bs-btn-wgt default ember-view">
                           <!---->
                        </bs-widget>
                     </div>
                  </div>
                  <div class="menu-right">
                     <!---->		
                  </div>
               </div>
            </header>
            <!---->
            <main page-id="37939000000015039" id="ember350" class="community-page-customPage ember-view">
               <div class="ui vertical center aligned bs-page-container page-container ">
                  <section id="ember351" class="bs-section multiple-sections community-section-banner ember-view">
                     <div class="background-layer">
                     </div>
                     <article class="foreground-layer" role="presentation">
                        <div id="ember352" class="ember-view">
                           <div style="" id="ember353" class="carousel bs-carousel-widget dt-style-1 dt-center arr-style-2 ember-view">
                              <div class="owl-carousel carousel-stretch owl-loaded" data-ride="carousel">
                                 <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transition: linear; width: 1372px; transform: translate3d(0px, 0px, 0px);">
                                       <div class="owl-item active center" style="width: 1372px;">
                                          <section data-section-id="37939000000015056" id="ember354" class="bs-section inner-banner overlay community-section-Slide-1 ember-view">
                                             <div class="background-layer  bg-cover bg-center-bottom" style="background-image: url('../preview.jpg');; opacity:1;--inner-banner-overlay-bg-color:#161A1C;--inner-banner-overlay-opacity:0.7;">
                                                <!---->
                                             </div>
                                             <article class="foreground-layer bs-container" role="presentation">
                                                <div class="banner-widget
                                                   media-top
                                                   centered
                                                   ">
                                                   <!---->
                                                   <div class="banner-content">
                                                      <div data-element-id="37939000000015052" id="ember355" class="ember-view">
                                                         <h2 text-id="37939000000015051" id="ember356" class="ember-view">
                                                            <!---->		
                                                            <p><strong style="color: rgb(255, 255, 255); background-color: transparent;">About COLLNET</strong></p>
                                                         </h2>
                                                         <!----><!----><!----><!---->
                                                      </div>
                                                      <div data-element-id="37939000000015053" id="ember357" class="ember-view">
                                                         <h5 text-id="37939000000015054" id="ember358" class="section-sub-title ember-view">
                                                            <!---->		<!---->
                                                         </h5>
                                                         <!----><!----><!----><!---->
                                                      </div>
                                                      <!---->		
                                                   </div>
                                                </div>
                                             </article>
                                          </section>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span class="left carousel-control"><i class="new-icon previous"></i></span></button><button type="button" role="presentation" class="owl-next"><span class="right carousel-control"><i class="new-icon next"></i></span></button></div>
                                 <div class="owl-dots disabled"></div>
                              </div>
                           </div>
                        </div>
                     </article>
                  </section>
                  <section data-section-id="37939000000015049" id="ember359" class="bs-section default community-section-text-1 primary-button custom-section ember-view">
                     <div class="background-layer " style="">
                        <!---->
                     </div>
                     <article role="presentation" id="ember360" class="foreground-layer bs-container ember-view">
                        <div data-element-id="37939000000015042" id="ember361" class="ember-view">
                           <h3 text-id="37939000000015041" id="ember362" class="section-title ember-view">
                              <!---->		
                              <p><strong style="color: rgb(0, 92, 191); background-color: transparent; font-size: 80%;">A Platform for Research Collaboration &amp; Innovation</strong></p>
                           </h3>
                           <!----><!----><!----><!---->
                        </div>
                        <div data-element-id="37939000000015045" id="ember363" class="ember-view">
                           <h5 text-id="37939000000015043" id="ember364" class="section-sub-title ember-view">
                              <!---->		<!---->
                           </h5>
                           <!----><!----><!----><!---->
                        </div>
                        <div data-element-id="37939000000015048" id="ember365" class="ember-view">
                           <div text-id="37939000000015046" id="ember366" class="markdown-contain ember-view">
                              <!---->		
                              <p>COLLNET has been a premier platform for scientometric and bibliometric research since its inception in 2000 in Berlin, Germany. Since then, COLLNET has hosted annual conferences in various locations, including</p>
                           </div>
                           <!----><!----><!----><!---->
                        </div>
                     </article>
                  </section>
                  <section data-section-id="37939000000055284" id="ember367" class="bs-section default community-section-description-1 primary-button alternative-background custom-section ember-view">
                     <div class="background-layer " style="">
                        <!---->
                     </div>
                     <article role="presentation" id="ember368" class="foreground-layer bs-container ember-view">
                        <div data-element-id="37939000000055285" id="ember369" class="ember-view">
                           <h3 text-id="37939000000055286" id="ember370" class="section-title ember-view">
                              <!---->		
                              <p><span style="color: rgb(0, 92, 191);">&nbsp;Recent Conferences:</span></p>
                              <p><span style="color: rgb(0, 92, 191);"><span class="ql-cursor">﻿</span></span></p>
                           </h3>
                           <!----><!----><!----><!---->
                        </div>
                        <div data-element-id="37939000000055291" id="ember371" class="ember-view">
                           <div text-id="37939000000055410" id="ember372" class="markdown-contain ember-view">
                              <!---->		
                              <p><strong style="background-color: transparent; color: rgb(0, 92, 191);"><u>18th International Conference on Webometrics, Informetrics and Scientometrics (WIS) &amp; 23nd COLLNET Meeting</u></strong></p>
                              <p>Organised joinly by COLLNET and Université de Strasbourg, Strasbourg, France</p>
                              <p>12-14th December 2024</p>
                              <p><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="https://www.slp.org.in/Collnet2024/">https://www.slp.org.in/Collnet2024/</a></p>
                              <p><br></p>
                              <p><br></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>17th International Conference on Webometrics, Informetrics and Scientometrics (WIS) &amp; 22nd COLLNET Meeting</u></strong></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>﻿</u></strong><span style="background-color: transparent;">Organised joinly by COLLNET, Society for Library Professionals and Special Libraries Association, Asia Community and hosted and organized by East West Universit, Dhaka, Bangladesh </span></p>
                              <p><span style="background-color: transparent;">08-10th December 2023</span></p>
                              <p><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="https://www.slp.org.in/collnet2023/">https://www.slp.org.in/collnet2023/</a></p>
                              <p><br></p>
                              <p><br></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>16th International Conference on Webometrics, Informetrics and Scientometrics (WIS) &amp; 21st COLLNET Meeting</u></strong></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>﻿</u></strong><span style="background-color: transparent;">Organised joinly by COLLNET, Society for Library Professionals and Special Libraries Association, Asia Community and Co-hosted by Office of Academic Resources (OAR), Chulalongkorn University, Bangkok, Thailand and Thai Library Association, Thailand,</span></p>
                              <p><span style="background-color: transparent;">10-12th November 2022</span></p>
                              <p><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="https://www.slp.org.in/collnet2022/">https://www.slp.org.in/collnet2022/</a></p>
                              <p><br></p>
                              <p><br></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>15th International Conference on Webometrics, Informetrics and Scientometrics (WIS) &amp; 20th COLLNET Meeting</u></strong></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>﻿</u></strong><span style="background-color: transparent;">co-organised by WISE Lab, Dalian University of Technology (Dalian, China), COLLNET (Berlin, Germany) and the “Committee of Theory of Science of Science and Discipline Construction, Chinese Association for Science of Science and S&amp;T Management”</span></p>
                              <p><span style="background-color: transparent;">November 5-8 2019</span></p>
                              <p><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://collnet2019.dlut.edu.cn/">http://collnet2019.dlut.edu.cn<strong>/</strong></a></p>
                              <p><br></p>
                              <p><br></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>14th International Conference on Webometrics, Informetrics and Scientometrics (WIS) and 19th COLLNET Meeting</u></strong></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>﻿</u></strong><span style="background-color: transparent;">December 5.-8., 2018</span></p>
                              <p><span style="background-color: transparent;">Hosted by University of Macau, Macau SAR China</span></p>
                              <p><a style="background-color: transparent; color: rgb(0, 92, 191);" rel="noopener noreferrer" target="_blank" href="mailto:collnet@socio.org.uk">collnet@socio.org.uk</a></p>
                              <p><a style="background-color: transparent; color: rgb(0, 92, 191);" rel="noopener noreferrer" target="_blank" href="http://socio.org.uk/collnet2018/">http://socio.org.uk/collnet2018/</a></p>
                              <p><a style="background-color: transparent; color: rgb(0, 92, 191);" rel="noopener noreferrer" target="_blank" href="https://www.db-thueringen.de/receive/dbt_mods_00039296">Proceedings at DBT</a><span style="background-color: transparent;">(Digitale Bibliothek Thueringen)</span></p>
                              <p><br></p>
                              <p><br></p>
                              <p><strong style="background-color: transparent; color: rgb(0, 92, 191);"><u>13th International Conference on Webometrics, Informetrics and Scientometrics (WIS) and 18th COLLNET Meeting</u></strong></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>﻿</u></strong><span style="background-color: transparent;">July 9.-11., 2017</span></p>
                              <p><span style="background-color: transparent;">Hosted by Kent Business School, University of Kent, UK</span></p>
                              <p><a style="background-color: transparent; color: rgb(0, 92, 191);" rel="noopener noreferrer" target="_blank" href="https://blogs.kent.ac.uk/kbs-news-events/2017/01/13th-international-conference-on-webometrics-informetrics-and-scientometrics-wis-and-the-18th-collnet-meeting-2017/">https://blogs.kent.ac.uk/kbs-news-events/2017/01/13th-international-conference-on-webometrics-informetrics-and-scientometrics-wis-and-the-18th-collnet-meeting-2017/</a></p>
                              <p><br></p>
                              <p><br></p>
                              <p><strong style="background-color: transparent; color: rgb(0, 92, 191);"><u>12th International Conference on Webometrics, Informetrics and Scientometrics (WIS) and 17th COLLNET Meeting</u></strong></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>﻿</u></strong><span style="background-color: transparent;">December 12-15, 2016</span></p>
                              <p><span style="background-color: transparent;">The conference will be held at Nancy, France</span></p>
                              <p><a style="background-color: transparent; color: rgb(0, 92, 191);" rel="noopener noreferrer" target="_blank" href="http://www.slp.org.in/collnet2016/">www.slp.org.in/collnet2016</a></p>
                              <p><br></p>
                              <p><br></p>
                              <p><strong style="background-color: transparent; color: rgb(0, 92, 191);"><u>11th International Conference on Webometrics, Informetrics and Scientometrics (WIS) and 16th COLLNET Meeting</u></strong></p>
                              <p><span style="background-color: transparent;">November 26-28, 2015</span></p>
                              <p><span style="background-color: transparent;">New Delhi, India</span></p>
                              <p><span style="background-color: transparent;">Hosted by University of Delhi</span></p>
                              <p><br></p>
                              <p><br></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>10th International Conference on Webometrics, Informetrics and Scientometrics (WIS) and 15th COLLNET Meeting</u></strong><strong style="color: rgb(0, 92, 191); background-color: transparent;"><u>September 3-5, 2014</u></strong></p>
                              <p><span style="background-color: transparent;">September 3-5, 2014</span></p>
                              <p><span style="background-color: transparent;">Ilmenau, Germany</span></p>
                              <p><span style="background-color: transparent;">Hosted by TU Ilmenau</span></p>
                              <p><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="https://www.db-thueringen.de/receive/dbt_mods_00025162">Proceedings at DBT</a><span style="background-color: transparent;">(Digitale Bibliothek Thueringen)</span></p>
                              <p><br></p>
                              <p><br></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>9th International Conference on Webometrics, Informetrics and Scientometrics (WIS) &amp; 14th COLLNET Meeting</u></strong></p>
                              <p><span style="background-color: transparent;">August 15-17, 2013,</span></p>
                              <p><span style="background-color: transparent;">Tartu, Estonia </span></p>
                              <p><span style="background-color: transparent;">Hosted by Estonian Research Council and COLLNET</span></p>
                              <p><br></p>
                              <p><br></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>Eigth International Conference on Webometrics, Informetrics and Scientometrics (WIS) &amp; 13th COLLNET Meeting</u></strong></p>
                              <p>23-26 October, 2012,&nbsp;</p>
                              <p>at Korea Institute of Science and Technology Information, Seoul, Rep. of Korea</p>
                              <p><br></p>
                              <p><br></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>Sixth International Conference on Webometrics, Informetrics and Scientometrics (WIS) &amp; Eleventh COLLNET Meeting</u></strong></p>
                              <p>19-22 October, 2010&nbsp;</p>
                              <p>Mysore, India</p>
                              <p><br></p>
                              <p><br></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>Fifth International Conference on Webometrics, Informetrics and Scientometrics (WIS) &amp; Tenth COLLNET Meeting</u></strong></p>
                              <p>13-16 September, 2009</p>
                              <p>Dalian, China</p>
                              <p><br></p>
                              <p><br></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>Fourth International Conference on Webometrics, Informetrics and Scientometrics &amp; Ninth COLLNET Meeting</u></strong></p>
                              <p>Proceedings of WIS 2008</p>
                              <p>as an online Open-Access e-book (2008-10-22):</p>
                              <p style="line-height: 1.2;"><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://www.collnet.de/Berlin-2008/Proceedings-WIS-2008.pdf">PDF file with links to papers</a><span style="background-color: rgb(255, 255, 255);"> (245 KB)</span></p>
                              <p style="line-height: 1.2;"><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://www.collnet.de/Berlin-2008/COLLNET2008Proceedings.zip">ZIP file with all papers</a><span style="background-color: rgb(255, 255, 255);"> (21 MB)</span></p>
                              <p><br></p>
                              <p style="line-height: 1.2;"><span style="background-color: rgb(255, 255, 255);">The Preliminary Program is available here (since July 9, 2008):</span></p>
                              <p style="line-height: 1.2;"><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://www.collnet.de/COLLNET2008program.pdf">PDF</a><span style="background-color: rgb(255, 255, 255);"> (155 kB).</span></p>
                              <p style="line-height: 1.2;"><span style="background-color: rgb(255, 255, 255);">The Second Announcement is available here (since March 14, 2008):</span></p>
                              <p style="line-height: 1.2;"><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://www.collnet.de/SecondAnnouncement-Berlin-2008.pdf">PDF</a><span style="background-color: rgb(255, 255, 255);"> (75 kB).</span></p>
                              <p style="line-height: 1.2;"><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="https://www.tandfonline.com/toc/tsim20/current">The COLLNET Journal of Scientometrics and Information Management</a><span style="background-color: rgb(255, 255, 238);"> </span><span style="background-color: rgb(255, 255, 255);">has published a Special Issue </span><a style="background-color: rgb(255, 255, 255); color: rgb(0, 92, 191);" rel="noopener noreferrer" target="_blank" href="http://collnet.de/CJSIM-Flyer-4apages-1.pdf">COLLNET 2008</a><span style="background-color: rgb(255, 255, 255);"> (PDF file of cover and List of Contents).</span></p>
                              <p><br></p>
                              <p style="line-height: 1.2;"><span style="background-color: rgb(255, 255, 255);">29 July - 1 August, 2008</span></p>
                              <p style="line-height: 1.2;"><span style="background-color: rgb(255, 255, 255);">Humboldt-Universitï¿œt zu Berlin</span></p>
                              <p style="line-height: 1.2;"><span style="background-color: rgb(255, 255, 255);">Institute of Library and Information Science</span></p>
                              <p style="line-height: 1.2;"><span style="background-color: rgb(255, 255, 255);">Berlin, Germany</span></p>
                              <p style="line-height: 1.2;"><br></p>
                              <p style="line-height: 1.2;"><br></p>
                              <p><strong style="color: rgb(0, 92, 191);"><u>International Conference on Webometrics, Informetrics and Scientometrics: Collaboration in Science and in Technology &amp; Eighth COLLNET Meeting</u></strong></p>
                              <p style="line-height: 1.2;"><span style="background-color: rgb(255, 255, 255);">is available now:</span><span style="background-color: rgb(255, 255, 238);"> </span><a style="background-color: transparent; color: rgb(0, 92, 191);" rel="noopener noreferrer" target="_blank" href="http://collnet.de/Delhi-2.pdf">PDF</a><span style="background-color: rgb(255, 255, 255);"> (178 kB).</span></p>
                              <p style="line-height: 1.2;"><span style="background-color: rgb(255, 255, 255);">Please, visit also the conference homepage:</span><span style="background-color: rgb(255, 255, 238); color: rgb(0, 92, 191);"> </span><a style="background-color: transparent; color: rgb(0, 92, 191);" rel="noopener noreferrer" target="_blank" href="http://www.collnet-delhi.de/">www.collnet-delhi.de</a></p>
                              <p style="line-height: 1.2;"><span style="background-color: rgb(255, 255, 255);">6-9 March, 2007, New Delhi, India</span></p>
                              <p style="line-height: 1.2;"><br></p>
                              <p style="line-height: 1.2;"><br></p>
                              <p style="line-height: 1.2;"><strong style="color: rgb(0, 92, 191); background-color: transparent;">2006 June 14 The first announcement of the WISELAB (Dalian University of Technology, Dalian, China) on the International Forum on Science Study and Scientometrics Dalian 24-28 Sep, 2006 </strong><strong style="color: rgb(0, 92, 191); background-color: rgb(255, 255, 255);">is available now: </strong><a style="color: rgb(0, 92, 191); background-color: rgb(255, 255, 255);" rel="noopener noreferrer" target="_blank" href="http://www.ib.hu-berlin.de/~fhavem/WISELAB_1st%20Announment2006.pdf"><strong>PDF</strong></a><strong style="color: rgb(0, 92, 191); background-color: rgb(255, 255, 255);"> (180 kB)</strong><strong style="color: rgb(0, 92, 191); background-color: rgb(255, 255, 238);">.</strong><strong style="color: rgb(0, 92, 191); background-color: transparent;">The International Workshop&nbsp;on Webometrics, Informetrics and Scientometrics&nbsp;&amp; Seventh COLLNET Meeting in conjunction with the</strong></p>
                              <p style="line-height: 1.2;"><strong style="color: rgb(0, 92, 191); background-color: transparent;">Extra Session on Information Visualization for Webometrics, Informetrics and Scientometrics on 10-12 May, 2006 at </strong><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://www.inist.fr/"><strong>LORIA-INIST</strong></a></p>
                              <p style="line-height: 1.2;"><span style="background-color: rgb(255, 255, 255);">has its own web page: </span><a style="background-color: transparent; color: rgb(0, 92, 191);" rel="noopener noreferrer" target="_blank" href="http://collnet.inist.fr/">http://collnet.inist.fr</a></p>
                              <p style="line-height: 1.2;"><br></p>
                              <p><br></p>
                              <p style="line-height: 1.2;"><strong style="color: rgb(0, 92, 191); background-color: transparent;">International Workshop&nbsp;on Webometrics, Informetrics and Scientometrics&nbsp;&amp; Seventh COLLNET Me</strong><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://www.wissenschaftsforschung.deeting"><strong>www.wissenschaftsforschung.deeting</strong></a><strong style="color: rgb(0, 92, 191); background-color: transparent;"> in conjunction with the Extra Session on Information Visualization for Webometrics, Informetrics and Scientometrics on 10-12 May, 2006 at</strong><strong style="color: rgb(0, 102, 17); background-color: transparent;"> </strong><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://www.inist.fr/"><strong>LORIA-INIST</strong></a></p>
                              <p style="line-height: 1.2;"><span style="background-color: rgb(255, 255, 255);">is available now: </span><a style="background-color: transparent; color: rgb(0, 92, 191);" rel="noopener noreferrer" target="_blank" href="http://collnet.de/Nancy-2006-Announcement.pdf">Nancy-2006-Announcement.pdf</a><span style="background-color: rgb(255, 255, 255);"> (207kB)</span></p>
                              <p style="line-height: 1.2;"><span style="background-color: rgb(255, 255, 255);">Laboratoire Lorrain de Recherche en Informatique et ses Applications</span></p>
                              <p style="line-height: 1.2;"><span style="background-color: rgb(255, 255, 255);">Nancy, France, 10-12 May, 2006</span></p>
                              <p><br></p>
                              <p><br></p>
                              <p style="line-height: 1.2;"><strong style="color: rgb(0, 92, 191); background-color: transparent;">Sixth COLLNET Meeting&nbsp;and an Extra Session on Collaborationat the last day (28 July, 2005)&nbsp;of the </strong><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://www.umu.se/inforsk/ISSI2005/"><strong>ISSI 2005 Conference</strong></a></p>
                              <p style="line-height: 1.2;"><span style="background-color: rgb(255, 255, 255);">is now available here: </span><a style="background-color: transparent; color: rgb(0, 92, 191);" rel="noopener noreferrer" target="_blank" href="http://collnet.de/collnetISSI2005.pdf">collnetISSI2005.pdf</a></p>
                              <p style="line-height: 1.2;"><span style="background-color: rgb(255, 255, 255);">Stockholm, Sweden, 24-28 July, 2005</span></p>
                              <p><br></p>
                              <p style="line-height: 1.2;"><br></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;">2004 February 2</span></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;">We announce the</span></p>
                              <p style="line-height: 1.2;"><br></p>
                              <p style="line-height: 1.2;"><br></p>
                              <p style="line-height: 1.2;"><strong style="color: rgb(0, 92, 191); background-color: transparent;">Sixth COLLNET Meeting&nbsp;and an Extra Session on Collaboration at the last day (28 July, 2005)&nbsp;of the </strong><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://www.umu.se/inforsk/ISSI2005/"><strong>ISSI 2005 Conference</strong></a><strong style="color: rgb(0, 92, 191); background-color: transparent;">,</strong></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;">Stockholm, Sweden, 24-28 July, 2005</span></p>
                              <p><br></p>
                              <p style="line-height: 1.2;"><br></p>
                              <p style="line-height: 1.2;"><strong style="color: rgb(0, 92, 191); background-color: transparent;">International Workshop on Webometrics, Informetrics and Scientometrics &amp;&nbsp;Fifth COLLNET Meeting held at Central Library ofIndian Institute of Technology (IIT), Roorkee, India on 2-5 March, 2004</strong></p>
                              <p style="line-height: 1.2;"><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://collnet.de/Papers.pdf"><strong>(Accepted papers as PDF file, 2004-2-27)</strong></a></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;">Roorkee, India, 2-5 March, 2004</span></p>
                              <p><br></p>
                              <p><br></p>
                              <p style="line-height: 1.2;"><strong style="color: rgb(0, 92, 191); background-color: transparent;">The 4th COLLNET Meeting and a Special Session on Collaboration </strong><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://collnet.de/beijing.pdf"><strong>(revised version of program as PDF file, 2003-8-20)</strong></a> <strong style="color: rgb(0, 92, 191); background-color: transparent;">has been held at the last day (August 29, 2003) of the </strong><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://www.cscd.ac.cn/issi2003"><strong>9th International Conference on Scientometics and Informetrics.</strong></a></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;">Beijing, China, August 25-29, 2003</span></p>
                              <p><br></p>
                              <p><br></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;">2002</span></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;">February 19:</span></p>
                              <p style="line-height: 1.2;"><br></p>
                              <p style="line-height: 1.2;"><strong style="color: rgb(0, 92, 191); background-color: transparent;">The Proceedings of the </strong><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://collnet.de/start.html"><strong>Second Berlin Workshop: Collaboration in Science and in Technology</strong></a> <strong style="color: rgb(0, 92, 191); background-color: transparent;">appeared</strong><strong style="color: rgb(0, 102, 17); background-color: transparent;">.</strong></p>
                              <p style="line-height: 1.2;"><br></p>
                              <p style="line-height: 1.2;"><br></p>
                              <p style="line-height: 1.2;"><span style="color: rgb(0, 92, 191); background-color: transparent;">&nbsp;</span><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://collnet.de/Sidney.pdf"><strong>3rd COLLNET Meeting&nbsp;of Principle Investigators "Collaboration in Science and Technology"</strong></a></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;">Friday 20th July, 2001</span></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;">at The University of New South Wales, Sidney, Australia</span></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;">(at the end of the </span><a style="background-color: transparent; color: rgb(0, 92, 191);" rel="noopener noreferrer" target="_blank" href="http://sistm.web.unsw.edu.au/conference/issi2001/prepro.htm"><strong>ISSI Conference</strong></a><span style="background-color: transparent;">, July 16 - 20, 2001)</span></p>
                              <p style="line-height: 1.2;"><br></p>
                              <p style="line-height: 1.2;">&nbsp;</p>
                              <p style="line-height: 1.2;"><br></p>
                              <p style="line-height: 1.2;"><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://collnet.de/delhiweb.html"><strong>Nistads International Workshop on Emerging Trends in Science &amp; Technology Indicators: Aspects of Collaboration and The Second COLLNET Meeting</strong></a></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;">20-25th February 2001</span></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;">at NISTADS, New Delhi, India</span></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;"> </span></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;">&nbsp;</span></p>
                              <p style="line-height: 1.2;"><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://collnet.de/start.html"><strong>Second Berlin Workshop on Scientometrics and Informetrics: Collaboration in Science and in Technology and The First COLLNET Meeting</strong></a></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;">1. - 4. September 2000</span></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;">at the Free University Berlin, Germany</span></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;">&nbsp;</span></p>
                              <p style="line-height: 1.2;"><span style="background-color: rgb(255, 255, 255);">Pre-COLLNET Conferences</span></p>
                              <ul>
                                 <li style="line-height: 1.2;"><span style="background-color: transparent;">The Berlin Colloquium on Scientometrics and Informetrics</span></li>
                                 <li style="line-height: 1.2;"><span style="background-color: transparent;">"Collaboration in Science"</span></li>
                                 <li style="line-height: 1.2;"><span style="background-color: transparent;">Berlin September 6, 1999 </span></li>
                                 <li style="line-height: 1.2;"><span style="background-color: transparent;">Sponsored by DFG and Association for Science Studies, e.V., Berlin</span></li>
                                 <li style="line-height: 1.2;"><span style="background-color: transparent;">The First Berlin Workshop on Scientometrics and Informetrics</span></li>
                                 <li style="line-height: 1.2;"><span style="background-color: transparent;">"Collaboration in Science"</span></li>
                                 <li style="line-height: 1.2;"><span style="background-color: transparent;">Berlin August 16-19, 1998 </span></li>
                                 <li style="line-height: 1.2;"><span style="background-color: transparent;">Sponsored by DFG, Free University Berlin and Association for Science Studies, e.V. Berlin. </span></li>
                              </ul>
                              <p style="line-height: 1.2;"><br></p>
                              <ul>
                                 <li style="line-height: 1.2;"><strong style="background-color: transparent;">Proceedings:</strong></li>
                                 <li style="line-height: 1.2;"><span style="background-color: transparent;">Collaboration in Science. </span></li>
                                 <li style="line-height: 1.2;"><span style="background-color: transparent;">Edited by Frank Havemann and Hildrun Kretschmer. </span></li>
                                 <li style="line-height: 1.2;"><span style="background-color: transparent;">Berlin: Gesellschaft fï¿œr Wissenschaftsforschung 2000</span></li>
                                 <li style="line-height: 1.2;"><span style="background-color: transparent;">ISBN 3-934682-31-6, 29,-DM. </span></li>
                                 <li style="line-height: 1.2; color: rgb(0, 92, 191);"><a style="color: rgb(0, 92, 191); background-color: transparent;" rel="noopener noreferrer" target="_blank" href="http://www.wissenschaftsforschung.de/Collab98.pdf"><strong>Contents</strong></a><span style="color: rgb(0, 92, 191); background-color: transparent;"> (as PDF-file)</span></li>
                              </ul>
                              <p style="line-height: 1.2;"><br></p>
                              <p><span style="background-color: transparent;">This year, COLLNET 2025 aims to explore:</span></p>
                              <p>✅ <strong style="background-color: transparent;">Emerging research metrics</strong></p>
                              <p><span style="background-color: transparent;"> ✅ </span><strong style="background-color: transparent;">Collaboration in science &amp; technology</strong></p>
                              <p style="line-height: 1.2;"><span style="background-color: transparent;"> ✅ </span><strong style="background-color: transparent;">AI, Big Data, and digital transformation in research</strong></p>
                              <p><br></p>
                              <p><br></p>
                              <p style="line-height: 1.2;"><br></p>
                              <p><br></p>
                              <p><br></p>
                             
                           </div>
                           <!----><!----><!----><!---->
                        </div>
                     </article>
                  </section>
                  <!---->		
                  <section tabindex="0" role="presentation" aria-label="footer" data-section-id="37939000000014060" id="ember331" class="bs-section community-section-footer default ember-view">
                     <div class="background-layer"></div>
                     <article role="presentation" id="ember332" class="foreground-layer bs-container ember-view">
                        <div class="element-settings ">
                           <div>
                              		
                              <div class="bs-footer">
                                 <div class="ft-top">
                                    <div class="left">
                                       <div data-element-id="37939000000014075" id="ember333" class="ember-view">
                                          	
                                          <div id="ember334" class="ember-view">
                                             <div id="ember336" class="hidden ember-view">
                                                <div class="bs-social-links default">
                                                   <div class="link-items">
                                                      	
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="mid">
                                       <div data-element-id="37939000000014080" id="ember337" class="ember-view">
                                          	
                                          <div id="ember338" class="ember-view">
                                             <div id="ember340" class="ember-view">
                                                
                                             </div>
                                          </div>
                                       </div>
                                       <div data-element-id="37939000000014077" id="ember341" class="ember-view">
                                          	
                                          <div id="ember342" class="ember-view">
                                             <div id="ember344" class="ember-view">Copyright 2025 sGate Tech Solutions Pvt. Ltd.</div>
                                          </div>
                                       </div>
                                     
                                    </div>
                                  
                                 </div>
                                 		
                              </div>
                           </div>
                        </div>
                     </article>
                  </section>
               </div>
            </main>
            <div>
              
            </div>
            <!---->
         </div>
      </div>
      <!----><!---->
      <!---->
      <!---->
      <!---->	
      <!---->	

   </body>
</html>
