---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!DOCTYPE html>
<html lang="en">
   <head>
<link type="text/css" rel="stylesheet" href="https://collnet2025.mailus.workers.dev/registration-menu-styles.css" as="style">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
      <meta name="application-name" content="ZohoBackstage">
      <meta name="description" content="">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-title" content="COLLNET Meeting 2025">
      <meta name="theme-color" content="#5C6BC0">
      <meta name="msapplication-navbutton-color" content="#5C6BC0">
      <meta name="apple-mobile-web-app-status-bar-style" content="default">
      <link rel="canonical" href="https://sgate.zohobackstage.in/COLLNET2025">
      <link rel="alternate" hreflang="en" href="https://sgate.zohobackstage.in/COLLNET2025#/?lang=en">
      <meta name="keywords" content=",COLLNET2025,COLLNET&amp;#x20;Meeting&amp;#x20;2025,&amp;#x20;">
      <meta name="twitter:title" content="COLLNET Meeting 2025">
      <meta name="twitter:image" content="https://sgate.zohobackstage.in/thumbnail/COLLNET2025?_=1744037145703">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:description" content="">
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://sgate.zohobackstage.in/COLLNET2025">
      <meta property="og:title" content="COLLNET Meeting 2025">
      <meta property="og:description" content="">
      <meta name="image" property="og:image" content="https://sgate.zohobackstage.in/thumbnail/COLLNET2025?_=1744037145703">
      <meta property="og:image:width" content="1440">
      <meta property="og:image:height" content="900">
      <meta property="og:image:type" content="image/png">
      <link rel="shortcut icon" type="image/x-icon" href="https://static.zohocdn.com/backstage/v1.0/images/fav-479b4ad7723adad699816a5ea94b947b.png">
      <link rel="manifest" href="https://sgate.zohobackstage.in/COLLNET2025/manifest.json?_=1744037145703">
      <link rel="icon" href="https://static.zohocdn.com/backstage/v1.0/images/fav-479b4ad7723adad699816a5ea94b947b.png">
      <link rel="apple-touch-icon" href="https://static.zohocdn.com/backstage/v1.0/images/fav-479b4ad7723adad699816a5ea94b947b.png">
      <link rel="apple-touch-startup-image" href="https://static.zohocdn.com/backstage/v1.0/images/fav-479b4ad7723adad699816a5ea94b947b.png">
      <title>
         COLLNET Meeting 2025 :: Registration Fee
      </title>
      <link rel="alternate" type="application/json+oembed" href="https://sgate.zohobackstage.in/public/oembed?url=https%3A%2F%2Fsgate.zohobackstage.in%2FCOLLNET2025">
      <link rel="preconnect" href="https://static.zohocdn.com/backstage/v1.0" crossorigin="">
      <link rel="preconnect" href="https://static.zohocdn.com/webfonts" crossorigin="">
      <link rel="preload" href="https://static.zohocdn.com/backstage/v1.0/javascript/security.min-3a8c70650b6ac1b2ed24ceedff5acc55.js" as="script">
      <link rel="preload" href="https://static.zohocdn.com/backstage/v1.0/community/assets/vendor-c7d439f1306986cae40a88b1d01ef9f7.js" as="script">
      <link rel="preload" href="https://static.zohocdn.com/backstage/v1.0/community/assets/community-248ced29812061936960e8d22546cfce.js" as="script">
      <link rel="stylesheet" href="https://static.zohocdn.com/backstage/v1.0/styles/bs-theme-70aaec8b8d2c7cb787a2137b7ceb2d66.css" as="style">
      <link rel="stylesheet" href="https://static.zohocdn.com/backstage/v1.0/community/assets/vendor-5056f81fb65cc15c706f9c85d6d2b35a.css" as="style">
      <link rel="stylesheet" href="https://static.zohocdn.com/backstage/v1.0/community/assets/chunk.108.3cf3ba1ed995a91b3ae1.css">
      <link rel="stylesheet" href="https://static.zohocdn.com/backstage/v1.0/community/assets/community-925ef3f29461fe07331ef0fd3b28dd24.css" as="style">
      <link type="text/css" rel="stylesheet" href="https://static.zohocdn.com/backstage/v1.0/styles/guls-style-aa388f7f5ad2c7987129c638fbd7bc84.css" as="style">
      
	  
      <style class="themeVariables">.bs-website:not(.theme-view){--font-name:roboto;--regular-font:robotoregular;--medium-font:robotomedium;--light-font:robotolight;--bold-font:robotobold;--min-size :11;--h1-font:56px;--h2-font:40px;--h3-font:36px;--h4-font:24px;--h5-font:18px;--h6-font:16px;--default-font:16px;--small-font:15px;--tiny-font:13px;--mini-font:11px;--section-title-case:none;--title-text-color:#ffffff;--body-text-color:#000000;--secondary-text-color:#777777;--link-color:#3577BC;--border-color:#dadbdd;--dark-border-color:#000000;--light-border-color:#eeeeee;--menu-bg:#ffffff;--menu-item-color:#000000;--menu-item-active-color:#5C6BC0;--grey-bg:#f1f1f1;--light-grey-bg:#f5f5f5;--lightest-grey-bg:#f9f9f9;--primary-button-border-color:transparent;--primary-button-text-color:#ffffff;--primary-button-bg-color:#5C6BC0;--body-bg:#ffffff;--preview-bg-color:#5C6BC0;--banner-image: url(https://static.zohocdn.com/backstage/v1.0/images/themes/barfi-bg-75eba28eab76aa2f2767518cc57e8daa.png);--banner-bg-color:#22272A;--banner-mobile-bg: url(https://static.zohocdn.com/backstage/v1.0/images/themes/barfi-mobile-bg-54b32880f7aa27363b7a85fdef6928f4.png);--banner-overlay-opacity:0.7;--banner-overlay-bg-color:#161A1C;--banner-title-text-color:#ffffff;--banner-text-color:#ffffff;--banner-secondary-text-color:#ffffff;--banner-link-color:#ffffff;--banner-border-color:#ffffff;--banner-dark-border-color:#ffffff;--banner-light-border-color:#ffffff;--inner-banner-image: url(https://static.zohocdn.com/backstage/v1.0/images/themes/barfi-inner-banner-dd56ae7ad6456192eb252ececb161dfa.png);--inner-banner-bg-color:#22272A;--inner-banner-mobile-bg: url(https://static.zohocdn.com/backstage/v1.0/images/themes/barfi-mobile-inner-bg-85feb38c0ec00126bacceb450b0a5845.png);--inner-banner-overlay-opacity:0.7; --inner-banner-overlay-bg-color:#161A1C;--inner-banner-title-text-color:#ffffff;--inner-banner-text-color:#ffffff;--inner-banner-secondary-text-color:#ffffff;--inner-banner-link-color:#ffffff;--inner-banner-border-color:#ffffff;--inner-banner-dark-border-color:#ffffff;--inner-banner-light-border-color:#ffffff;--section-bg-color:#ffffff;--section-title-text-color:#5C6BC0;--section-text-color:#000000;--section-secondary-text-color:#767676;--section-link-color:#3577BC;--section-border-color:#dadbdd;--section-dark-border-color:#000000;--secion-light-border-color:#eeeeee;--alternate-section-bg-color:#F7F8F9;--alternate-section-title-text-color:#5C6BC0;--alternate-section-text-color:#000000;--alternate-section-secondary-text-color:#767676;--alternate-section-link-color:#3577BC;--alternate-section-border-color:#dadbdd;--alternate-dark-border-color:#000000;--alternate-light-border-color:#eeeeee;}</style>
      <style class="themeVariations">.bs-variation:not(.theme-view){}</style>
   </head>
   <body class="bs-website bs-variation ember-application" style="--body-height: 449px; --bs-main-menu-height: 72px; --bs-inner-banner-height: 0px;">
      <h1 style="display:none;">COLLNET Meeting 2025</h1>
      <script nonce="prS13iQ2vD8XmgoD5p8clw==" src="https://static.zohocdn.com/backstage/v1.0/community/assets/vendor-c7d439f1306986cae40a88b1d01ef9f7.js"></script><script src="https://static.zohocdn.com/backstage/v1.0/community/assets/chunk.108.3cf3ba1ed995a91b3ae1.js"></script><script src="https://static.zohocdn.com/backstage/v1.0/community/assets/chunk.524.abee30cc9598a8c0f713.js"></script>
	  
	  
	  <script nonce="prS13iQ2vD8XmgoD5p8clw==" type="text/javascript" src="https://js.zohocdn.com/ichat/js/Mar_13_2025_10182154_wmsliteapi.js"></script><script nonce="prS13iQ2vD8XmgoD5p8clw==" type="text/javascript" src="https://static.zohocdn.com/backstage/v1.0/javascript/security.min-3a8c70650b6ac1b2ed24ceedff5acc55.js"></script><script nonce="prS13iQ2vD8XmgoD5p8clw==" src="https://static.zohocdn.com/backstage/v1.0/community/assets/community-248ced29812061936960e8d22546cfce.js"></script><span></span>
      <div>
         <!---->	
         <div dir="ltr" id="ember4" class="cm_root mappv2 ember-view">
            <span></span>
            <!---->	
            <style>
               @font-face {
               font-family: 'robotoregular';
               font-style: normal;
               src: url('https://static.zohocdn.com/webfonts/robotoregular/font.eot');
               src: url('https://static.zohocdn.com/webfonts/robotoregular/font.eot?#iefix') format("eot"),
               url('https://static.zohocdn.com/webfonts/robotoregular/font.woff2') format('woff2'),
               url('https://static.zohocdn.com/webfonts/robotoregular/font.woff') format('woff'),
               url('https://static.zohocdn.com/webfonts/robotoregular/font.ttf') format('truetype')}
               @font-face {
               font-family: 'robotomedium';
               font-style: normal;
               src: url('https://static.zohocdn.com/webfonts/robotomedium/font.eot');
               src: url('https://static.zohocdn.com/webfonts/robotomedium/font.eot?#iefix') format("eot"),
               url('https://static.zohocdn.com/webfonts/robotomedium/font.woff2') format('woff2'),
               url('https://static.zohocdn.com/webfonts/robotomedium/font.woff') format('woff'),
               url('https://static.zohocdn.com/webfonts/robotomedium/font.ttf') format('truetype')}
               @font-face {
               font-family: 'robotobold';
               font-style: normal;
               src: url('https://static.zohocdn.com/webfonts/robotobold/font.eot');
               src: url('https://static.zohocdn.com/webfonts/robotobold/font.eot?#iefix') format("eot"),
               url('https://static.zohocdn.com/webfonts/robotobold/font.woff2') format('woff2'),
               url('https://static.zohocdn.com/webfonts/robotobold/font.woff') format('woff'),
               url('https://static.zohocdn.com/webfonts/robotobold/font.ttf') format('truetype')}
               @font-face {
               font-family: 'robotolight';
               font-style: normal;
               src: url('https://static.zohocdn.com/webfonts/robotolight/font.eot');
               src: url('https://static.zohocdn.com/webfonts/robotolight/font.eot?#iefix') format("eot"),
               url('https://static.zohocdn.com/webfonts/robotolight/font.woff2') format('woff2'),
               url('https://static.zohocdn.com/webfonts/robotolight/font.woff') format('woff'),
               url('https://static.zohocdn.com/webfonts/robotolight/font.ttf') format('truetype')}.bs-website:not(.them-view){--font-name:roboto;--regular-font:robotoregular;--medium-font:robotomedium;--light-font:robotolight;--bold-font:robotobold;--min-size :11;}
            </style>
            <header tabindex="-1" style="--bs-nav-active-bg:#1f3594; " id="ember5" class="bs-main-menu fixed ember-view">
               <div class="overlay"></div>
               <div class="bs-container">
                  <div class="main-menu nav-active-st1 nav-link-st1">
                     <div class="left-menu">
                        <div id="ember6" class="ember-view">
                           <div id="ember7" class="item logo logo-st1  ember-view">
                              <div class="logo  bs-image " data-ember-action="" data-ember-action-8="8">
                                 <img src="../logo.gif" alt="COLLNET Meeting 2025-logo" loading="lazy">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="right-menu top-nav-bar" style="overflow: visible;">
                        
						 <Header />
                     </div>
                     <div class="other-links">
                        <bs-widget button-group-id="37939000000005751" style="" id="ember28" class="element-settings   bs-btn-wgt default ember-view">
                           <!---->
                        </bs-widget>
                     </div>
                  </div>
                  <div class="menu-right">
                     <!---->		
                  </div>
               </div>
            </header>
            <!---->
            <main page-id="37939000000023772" id="ember232" class="community-page-customPage ember-view">
               <div class="ui vertical center aligned bs-page-container page-container ">
                  <section id="ember233" class="bs-section multiple-sections community-section-banner ember-view">
                     <div class="background-layer"></div>
                     <article class="foreground-layer" role="presentation">
                        <div id="ember234" class="ember-view">
                           <div style="" id="ember235" class="carousel bs-carousel-widget dt-style-1 dt-center arr-style-2 ember-view">
                              <div class="owl-carousel carousel-stretch owl-loaded" data-ride="carousel">
                                 <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transition: linear; width: 1372px; transform: translate3d(0px, 0px, 0px);">
                                       <div class="owl-item active center" style="width: 1372px;">
                                          <section data-section-id="37939000000023789" id="ember341" class="bs-section inner-banner overlay community-section-Slide-1 ember-view">
                                             <div class="background-layer  bg-cover bg-center-bottom" style="background-image: url('../bg.jpg');; opacity:1;--inner-banner-overlay-bg-color:#161A1C;--inner-banner-overlay-opacity:0.7;">
                                                <!---->
                                             </div>
                                             <article class="foreground-layer bs-container" role="presentation">
                                                <div class="banner-widget
                                                   media-top
                                                   centered
                                                   ">
                                                   <!---->
                                                   <div class="banner-content">
                                                      <div data-element-id="37939000000023785" id="ember342" class="ember-view">
                                                         <h2 text-id="37939000000023784" id="ember343" class="ember-view">
                                                            <!---->		Registration Fee
                                                         </h2>
                                                         <!----><!----><!----><!---->
                                                      </div>
                                                      <div data-element-id="37939000000023786" id="ember344" class="ember-view">
                                                         <h5 text-id="37939000000023787" id="ember345" class="section-sub-title ember-view">
                                                            <!---->		<!---->
                                                         </h5>
                                                         <!----><!----><!----><!---->
                                                      </div>
                                                      <!---->		
                                                   </div>
                                                </div>
                                             </article>
                                          </section>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span class="left carousel-control"><i class="new-icon previous"></i></span></button><button type="button" role="presentation" class="owl-next"><span class="right carousel-control"><i class="new-icon next"></i></span></button></div>
                                 <div class="owl-dots disabled"></div>
                              </div>
                           </div>
                        </div>
                     </article>
                  </section>
                  <section data-section-id="37939000000023782" id="ember333" class="bs-section default community-section-text-10 primary-button custom-section ember-view">
                     <div class="background-layer " style="">
                        <!---->
                     </div>
                     <article role="presentation" id="ember334" class="foreground-layer bs-container ember-view">
                        <div data-element-id="37939000000023775" id="ember335" class="ember-view">
                           <h3 text-id="37939000000023774" id="ember336" class="section-title ember-view">
                              <!---->		
                              <p><strong style="background-color: transparent; color: rgb(0, 92, 191); font-size: 80%;">REGISTRATION FEE</strong></p>
                           </h3>
                           <!----><!----><!----><!---->
                        </div>
                        <div data-element-id="37939000000023778" id="ember337" class="ember-view">
                           <h5 text-id="37939000000023776" id="ember338" class="section-sub-title ember-view">
                              <!---->		<!---->
                           </h5>
                           <!----><!----><!----><!---->
                        </div>
                        <div data-element-id="37939000000023781" id="ember339" class="ember-view">
                           <div text-id="37939000000023779" id="ember340" class="markdown-contain ember-view">
                              <!---->		
                              <p><strong>Types of Registration &amp; Registration Fee</strong></p>
                              <ul>
                                 <li><strong>Indian Participants</strong> INR <strong>4000</strong></li>
                                 <li><strong>Research Scholars</strong> Rs<strong> 2500</strong></li>
                                 <li><strong>Foreign Participants</strong> US Dollar <strong>250</strong></li>
                                 <li><strong>Participants from SAARC Countries</strong> US Dollar <strong>125</strong></li>
                              </ul>
                              <p><br></p>
                              <p>Registration fee is non-refundable.</p>
                              <p>The registration fee for the international attendees includes conference kits, and conference meals. The registration fee for the National attendees includes conference kits, and conference meals.</p>
                              <p>Registration will be confirmed only if the form is duly completed, and payment received in full</p>
                           </div>
                           <!----><!----><!----><!---->
                        </div>
                     </article>
                  </section>
                  <!---->		
                   <section tabindex="0" role="presentation" aria-label="footer" data-section-id="37939000000014060" id="ember331" class="bs-section community-section-footer default ember-view">
                     <div class="background-layer"></div>
                     <article role="presentation" id="ember332" class="foreground-layer bs-container ember-view">
                        <div class="element-settings ">
                           <div>
                              		
                              <div class="bs-footer">
                                 <div class="ft-top">
                                    <div class="left">
                                       <div data-element-id="37939000000014075" id="ember333" class="ember-view">
                                          	
                                          <div id="ember334" class="ember-view">
                                             <div id="ember336" class="hidden ember-view">
                                                <div class="bs-social-links default">
                                                   <div class="link-items">
                                                      	
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="mid">
                                       <div data-element-id="37939000000014080" id="ember337" class="ember-view">
                                          	
                                          <div id="ember338" class="ember-view">
                                             <div id="ember340" class="ember-view">
                                                
                                             </div>
                                          </div>
                                       </div>
                                       <div data-element-id="37939000000014077" id="ember341" class="ember-view">
                                          	
                                          <div id="ember342" class="ember-view">
                                             <div id="ember344" class="ember-view">Copyright 2025 sGate Tech Solutions Pvt. Ltd.</div>
                                          </div>
                                       </div>
                                     
                                    </div>
                                  
                                 </div>
                                 		
                              </div>
                           </div>
                        </div>
                     </article>
                  </section>
				  
               </div>
            </main>
            
			
			
			
			
            <!---->
         </div>
      </div>
      <!----><!---->
      <!---->
      <!---->
      <!---->	
      <!---->	
      <div id="slide-pane-announcer" aria-live="polite" class="sr-only" hidden="">Page 0 loaded</div>
   </body>
</html>
