---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---
<link rel="stylesheet" href="../menu-styles.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
<header class="header">
         <nav class="nav container">
            <div class="nav__data">
               <a href="#" class="nav__logo">
                 <img src="https://collnet2025.mailus.workers.dev/logo.gif" border="0" />
               </a>
               
               <div class="nav__toggle" id="nav-toggle">
                  <i class="ri-menu-line nav__burger"></i>
                  <i class="ri-close-line nav__close"></i>
               </div>
            </div>

            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li><a href="/index" class="nav__link cnhl">Home</a></li>
                  <li class="dropdown__item">
                     <div class="nav__link cnam">About Us <i class="ri-arrow-down-s-line dropdown__arrow"></i></div>

                     <ul class="dropdown__menu">
                        <li><a href="/about" class="dropdown__link cnas">About Us</a></li>

                        <li><a href="/organizing_committe" class="dropdown__link cnoc">Organizing Committee</a></li>
						 <li><a href="/important_dates" class="dropdown__link cnid">IMP Dates</a></li>
                     
                     </ul>
                  </li>
                    <li><a href="/our_speakers" class="nav__link cnsl">Speakers</a></li>
                  <li><a href="/venue" class="nav__link cnvn">Venue</a></li>

                  <li class="dropdown__item">
                     <div class="nav__link cntim">Travel Information <i class="ri-arrow-down-s-line dropdown__arrow"></i></div>

                     <ul class="dropdown__menu">
                        <li>
                           <a href="/accommodation" class="dropdown__link cnal">Accommodation</a></li>

                        <li><a href="/sightseeing" class="dropdown__link cnsl">Sightseeing</a></li>

                        <li><a href="/climate" class="dropdown__link cncl">Climate</a></li>
                     </ul>
                  </li>
				      <li class="dropdown__item">
                     <div class="nav__link cntm">Theme <i class="ri-arrow-down-s-line dropdown__arrow"></i></div>

                     <ul class="dropdown__menu">
                        <li><a href="/call_for_papers" class="dropdown__link cncfpl">Call for Papers</a></li>
                     </ul>
                  </li>
				   <li class="dropdown__item">
                     <div class="nav__link cnrlm">Registration <i class="ri-arrow-down-s-line dropdown__arrow"></i></div>

                     <ul class="dropdown__menu">
                        <li><a href="/registration_fee" class="dropdown__link cnrfl">Registration Fee</a></li>

                        <li><a href="/payment_details" class="dropdown__link cnpdl">Payment Details</a></li>
                     </ul>
                  </li>
				  <li><a href="/program_schedule" class="nav__link cnpsl">Program Schedule</a></li>
				   <li class="dropdown__item">
                     <div class="nav__link cnmim">More <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                     </div>

                     <ul class="dropdown__menu cnmmli">
                        <li><a href="/venueandtravel" class="dropdown__link cnvtl">Venue and Travel</a></li>

                        <li>
                           <a href="/sponsors_partners" class="dropdown__link cnspl">Sponsors &amp; Partners</a>
                        </li>
						<li><a href="/contact_us" class="dropdown__link cncul">Contact us</a></li>

                        <li><a href="/faqs" class="dropdown__link cnfsl">FAQs</a></li>
                     </ul>
                  </li>
               </ul>
            </div>
         </nav>
      </header>

<script type="text/javascript" src="../menu-main.js"></script>
